<h2>Env: {{NODE_ENV}}</h2>
<h2>Puerto: {{PORT}}</h2>
<h2>Modo: {{MODO}}</h2>
<h2>Persistencia: {{PERSISTENCIA}}</h2>
<h2>Tiempo de expiración de tokens: {{EXPIRE_TIME}}</h2>
<h2>Mail: {{adminMail}}</h2>